In [1]:
import numpy as np
import pandas as pd

In [2]:
table=pd.read_excel("C:/Users/Death Fighter/Desktop/Fall 2020/STA301/Data/Data3.xlsx")

In [3]:
table

            Age   Income  Student  Credit rating  Purchasing  Computer
0         youth     high       no           fair                    no
1         youth     high       no      excellent                    no
2   middle aged     high       no           fair                   yes
3        senior   medium       no           fair                   yes
4        senior      low      yes           fair                   yes
5        senior      low      yes      excellent                    no
6   middle aged      low      yes      excellent                   yes
7         youth   medium       no           fair                    no
8         youth      low      yes           fair                   yes
9        senior   medium      yes           fair                   yes
10        youth   medium      yes      excellent                   yes
11  middle aged   medium       no      excellent                   yes
12  middle aged     high      yes           fair                   yes
13       senior   medium       no      excellent                    no

In [4]:
table.shape[0]

14

In [5]:
column=[col for col in table.columns]
rows=table.shape[0]
prob={}
for col in table.columns:
    print(col)
    td={}
    for v in table[col].unique():
        td[v]=0
    for i in range(rows):
        td[table[col][i]]+=1
    p=[]
    for k,v in td.items():
        p.append((k,float("%.4f" %(v/rows))))
    prob[col]=p

Age
Income
Student
Credit rating
Purchasing  Computer

# Prior Probabilities

In [6]:
for k,v in prob.items():
    print("[#]",k)
    for e in v:
        print(e[0]," : ",e[1])
    print("======================")

[#] Age
youth   :  0.3571
middle aged   :  0.2857
senior   :  0.3571
======================
[#] Income
high   :  0.2857
medium   :  0.4286
low   :  0.2857
======================
[#] Student
no   :  0.5
yes   :  0.5
======================
[#] Credit rating
fair   :  0.5714
excellent   :  0.4286
======================
[#] Purchasing  Computer
no   :  0.3571
yes   :  0.6429
======================

# Labels

In [7]:
labels=[label for label in table[table.columns[len(table.columns)-1]].unique()]

In [8]:
labels

['no ', 'yes ']

In [9]:
label1=table[table[table.columns[len(table.columns)-1]]==labels[1]]
label0=table[table[table.columns[len(table.columns)-1]]==labels[0]]

# Label:1(Yes)

In [10]:
label1

            Age   Income  Student  Credit rating  Purchasing  Computer
2   middle aged     high       no           fair                   yes
3        senior   medium       no           fair                   yes
4        senior      low      yes           fair                   yes
6   middle aged      low      yes      excellent                   yes
8         youth      low      yes           fair                   yes
9        senior   medium      yes           fair                   yes
10        youth   medium      yes      excellent                   yes
11  middle aged   medium       no      excellent                   yes
12  middle aged     high      yes           fair                   yes

# Label:0(No)

In [11]:
label0

       Age   Income  Student  Credit rating  Purchasing  Computer
0    youth     high       no           fair                    no
1    youth     high       no      excellent                    no
5   senior      low      yes      excellent                    no
7    youth   medium       no           fair                    no
13  senior   medium       no      excellent                    no

# Yes Label Counts

In [12]:
yeslabel={}
key=[k for k in table[table.columns[0]].unique()]
for idx1 in range(len(table.columns)-1):
    track1={}
    for elem in label1[table.columns[idx1]]:
        if str(elem).strip() not in track1.keys():
            track1[str(elem).strip()]=1
        else:
            track1[str(elem).strip()]+=1
    for elem in table[table.columns[idx1]]:
        if str(elem).strip() not in track1.keys():
            track1[str(elem).strip()]=0
    yeslabel[label1.columns[idx1]]=track1

In [13]:
yeslabel

{'Age ': {'middle aged': 4, 'senior': 3, 'youth': 2},
 'Income ': {'high': 2, 'medium': 4, 'low': 3},
 'Student ': {'no': 3, 'yes': 6},
 'Credit rating ': {'fair': 6, 'excellent': 3}}

# No Label Counts

In [14]:
nolabel={}
for idx1 in range(len(table.columns)-1):
    track2={}
    for elem in label0[table.columns[idx1]]:
        if str(elem).strip() not in track2.keys():
            track2[str(elem).strip()]=1
        else:
            track2[str(elem).strip()]+=1
    for elem in table[table.columns[idx1]]:
        if str(elem).strip() not in track2.keys():
            track2[str(elem).strip()]=0
    nolabel[label0.columns[idx1]]=track2

In [15]:
nolabel

{'Age ': {'youth': 3, 'senior': 2, 'middle aged': 0},
 'Income ': {'high': 2, 'low': 1, 'medium': 2},
 'Student ': {'no': 4, 'yes': 1},
 'Credit rating ': {'fair': 2, 'excellent': 3}}

# Yes Label Probabilities

In [16]:
yeslabel

{'Age ': {'middle aged': 4, 'senior': 3, 'youth': 2},
 'Income ': {'high': 2, 'medium': 4, 'low': 3},
 'Student ': {'no': 3, 'yes': 6},
 'Credit rating ': {'fair': 6, 'excellent': 3}}

In [17]:
r1=int(label1.shape[0])
yes={}
for attribute in yeslabel.keys():
        yes[attribute]=[]
for attribute,yesvalues in yeslabel.items():
    print("[#]",attribute)
    sum=0
    for k,v in yesvalues.items():
        print(k," : ",v,"/",r1)
        yes[attribute].append((k,float("%.4f" %(v/r1))))

[#] Age
middle aged  :  4 / 9
senior  :  3 / 9
youth  :  2 / 9
[#] Income
high  :  2 / 9
medium  :  4 / 9
low  :  3 / 9
[#] Student
no  :  3 / 9
yes  :  6 / 9
[#] Credit rating
fair  :  6 / 9
excellent  :  3 / 9

In [18]:
yes

{'Age ': [('middle aged', 0.4444), ('senior', 0.3333), ('youth', 0.2222)],
 'Income ': [('high', 0.2222), ('medium', 0.4444), ('low', 0.3333)],
 'Student ': [('no', 0.3333), ('yes', 0.6667)],
 'Credit rating ': [('fair', 0.6667), ('excellent', 0.3333)]}

# No Label Probabilities

In [19]:
nolabel

{'Age ': {'youth': 3, 'senior': 2, 'middle aged': 0},
 'Income ': {'high': 2, 'low': 1, 'medium': 2},
 'Student ': {'no': 4, 'yes': 1},
 'Credit rating ': {'fair': 2, 'excellent': 3}}

In [20]:
r2=int(label0.shape[0])
no={}
for attribute in nolabel.keys():
        no[attribute]=[]
for attribute,novalues in nolabel.items():
    print("[#]",attribute)
    sum=0
    for k,v in novalues.items():
        print(k," : ",v,"/",r2)
        no[attribute].append((k,float("%.4f" %(v/r2))))

[#] Age
youth  :  3 / 5
senior  :  2 / 5
middle aged  :  0 / 5
[#] Income
high  :  2 / 5
low  :  1 / 5
medium  :  2 / 5
[#] Student
no  :  4 / 5
yes  :  1 / 5
[#] Credit rating
fair  :  2 / 5
excellent  :  3 / 5

In [21]:
no

{'Age ': [('youth', 0.6), ('senior', 0.4), ('middle aged', 0.0)],
 'Income ': [('high', 0.4), ('low', 0.2), ('medium', 0.4)],
 'Student ': [('no', 0.8), ('yes', 0.2)],
 'Credit rating ': [('fair', 0.4), ('excellent', 0.6)]}

# Summary

In [22]:
key=[k for k in yes.keys()]
for j in range(len(yes)):
    atr=[v for v in table[table.columns[j]].unique()]
    val1=[]
    prob1=[]
    val2=[]
    prob2=[]
    val2=[]
    for i in range(len([v for v in yes.values()][j])):
        val1.append([v for v in yeslabel.values()][j][[v for v in yes.values()][j][i][0]])
        prob1.append([v for v in yes.values()][j][i][1])
        
    for i in range(len([v for v in no.values()][j])):
        val2.append([v for v in nolabel.values()][j][[v for v in no.values()][j][i][0]])
        prob2.append([v for v in no.values()][j][i][1])
        
    newtable={}
    newtable[key[j]]=atr
    newtable["Yes"]=val1
    newtable["No"]=val2
    newtable["P(Yes)"]=prob1
    newtable["P(No)"]=prob2
    df = pd.DataFrame (newtable, columns =[key[j],"Yes","P(Yes)","No","P(No)"])
    print (df)
    print("===============================================================")

           Age   Yes  P(Yes)  No  P(No)
0        youth     4  0.4444   3    0.6
1  middle aged     3  0.3333   2    0.4
2       senior     2  0.2222   0    0.0
===============================================================
   Income   Yes  P(Yes)  No  P(No)
0    high     2  0.2222   2    0.4
1  medium     4  0.4444   1    0.2
2     low     3  0.3333   2    0.4
===============================================================
  Student   Yes  P(Yes)  No  P(No)
0      no     3  0.3333   4    0.8
1     yes     6  0.6667   1    0.2
===============================================================
  Credit rating   Yes  P(Yes)  No  P(No)
0          fair     6  0.6667   2    0.4
1     excellent     3  0.3333   3    0.6
===============================================================

# Conditions

In [23]:
feature_matrix=input().split(",")

youth,medium,yes,fair

In [24]:
yes

{'Age ': [('middle aged', 0.4444), ('senior', 0.3333), ('youth', 0.2222)],
 'Income ': [('high', 0.2222), ('medium', 0.4444), ('low', 0.3333)],
 'Student ': [('no', 0.3333), ('yes', 0.6667)],
 'Credit rating ': [('fair', 0.6667), ('excellent', 0.3333)]}

In [25]:
product1=1
for elem in condition:
    for key,values in yes.items():
        for e in values:
            if elem==e[0]:
                product1*=e[1]
                print("$")
product1=float("%.4f"%product1)
print("Product of conditional probabilities :",product1)

$
$
$
$
Product of conditional probabilities : 0.0439

In [26]:
no

{'Age ': [('youth', 0.6), ('senior', 0.4), ('middle aged', 0.0)],
 'Income ': [('high', 0.4), ('low', 0.2), ('medium', 0.4)],
 'Student ': [('no', 0.8), ('yes', 0.2)],
 'Credit rating ': [('fair', 0.4), ('excellent', 0.6)]}

In [27]:
product2=1
for elem in condition:
    for key,values in no.items():
        for e in values:
            if elem==e[0]:
                product2*=e[1]
                print("$")
product2=float("%.4f"%product2)
print("Product of conditional probabilities :",product2)

$
$
$
$
Product of conditional probabilities : 0.0192

In [28]:
p1=product1*(r1/rows)
p0=product2*(r2/rows)

In [29]:
-0p i7yt12p1

0.0282

In [30]:
p0=float("%.4f"%p0)
p0

0.0069